*{
    margin:0px;
    font-family: Arial;
    border:border-box;
    background-color: whitesmoke;
}
.navbar{
    display: flex;
}
.nav_main{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top:10px;
    margin-left: 80px;
    
}
.nav_2{
    border-radius: 5px;
    border: 1px solid white;
    height: 50px;
    width: 130px;
    
}  
.nav_mid{
    width: 550px;
    height: 50px;
    
    padding-top:10px;
    padding-left: 10px;
}
.nav_end{
    width: 500px;
    height: 50px;
   
    padding-top:10px;
    padding-left: 10px;
    display: flex   ;
}
.end_p{
    width: 113px;
    display: flex;
    justify-items: center;
    padding-top:10px;
    padding-left: 10px;
}
.end_p1{
    
    justify-items: center;
    padding-top:10px;
    padding-left: 10px;
}
.nav_end .main_p{
    color: black;
}
.nav_end .main_p1{
    color:blue;
}
.input_main{
    display: flex;
}
.input_main2{
    size: 30px;
}

input{
    margin-left: 90px;
    width: 930px;
    height: 50px;
    border-radius: 10px;
    border: 1px ridge rgb(0, 153, 255);
    margin-top: 10px;
    font-size: 18px;
}